
body{

    background-image: url(../img/fondo.jpg);
    /*background-color: #FFFFFF;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
}

.nav{
	justify-content: center;
	color: black;
}

div.card{	
	border-style: solid;
	border-radius: 10px;
	background-color: #F6CFF3; /*fondo estructuras*/
	opacity: 0,5;
	color: black; /*letras*/
	margin: 50px;	
}

 .titulo{
	font-family: Charmonman;
}

div.background {
    background: url(klematis.jpg) repeat;
    border: 2px solid black;
	border-radius: 30px;
}

.barra{
	background-color: #F6CFF3;
	opacity: 0.8;
	border-radius: 30px;
}

div.color{
	background-color: #F8E0F7;
}


